<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
</head>
<body>
    <form action="/users/login" name="username" method="post">
     <input type="text" name="username" placeholder="请输入用户名">  
     <input type="password" name="password" placeholder="请输入密码">
     <input type="submit" value="提交">  
    </form>
</body>
</html>